<h1 class="text-center">M&A Motors</h1>

<img class="img-fluid" src="https://cdn.motor1.com/images/mgl/7ZL4go/s3/bmw-320i-msport-2021.jpg" style="height: 525px; width: 1500px;">
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img class= "img-fluid" src="https://http2.mlstatic.com/D_NQ_NP_726110-MLB48860603651_012022-O.jpg" style="height: 275px; width: 650px;">
        </div>
        <div class="col-sm-6">
            <img class= "img-fluid" src="https://cdn.motor1.com/images/mgl/mBrOo/s3/honda-civic-exl-2020.jpg" style="height: 275px; width: 650px;">
        <br>
        <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        <div class="card" style="height: 23rem;">
        <img src="https://images.builderservices.io/s/?https://storage.googleapis.com/production-hostgator-brasil-v1-0-1/111/315111/lHEOtIUG/604b4b53bd2b4840acf1a94a0749ae55" class="card-img-top" alt="..." style="height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Confira os modelos 2022</h5>
          <p class="card-text">Confira modelos exclusivos para você e sua empresa.</p>
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
        </div>
        </div>
        <div class="col-sm-4">
        <div class="card" style="height: 23rem;">
        <img src="https://www.bv.com.br/site/resources/images/trocar-o-nome-do-financiamento-do-veiculo.jpg" class="card-img-top" alt="..." style="height: 250px;">
        <div class="card-body">
          <h5 class="card-title">Seminovos</h5>
          <p class="card-text">Seminovos com garantia de fábrica e assistência 24 horas.</p>
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
        </div>
        </div>
            <div class="col-sm-4">
            <div class="card" style="height: 23rem;">
            <img src="https://www.saudebusiness.com/sites/saudebusiness.com/files/styles/article_featured_standard/public/merges%20and%20acquisitions.png?itok=ZrV2uskD" class="card-img-top" alt="..." style="height: 250px;">
            <div class="card-body">
              <h5 class="card-title">Portal do Cliente</h5>
              <p class="card-text">Facilidade para o cliente acompanhar o seu financiamento, emitir 2ª via do boleto, entre outras funcionalidades...</p>
              <a href="#" class="btn btn-primary">Acesse</a>
            </div>
            </div>
            </div>
    </div>
</div>